/* css for index page */
body {
    background-color:  #FAFAFA ;
    /* margin: 20px; */
    line-height: normal;
  }
.image{
    
    margin-top: 15vh;
    border-radius: 50%;
    border: 20px solid #fff;
    box-shadow: 0px 4px 31px #0000000A;
    width: 576px;
    height: 576px;
    margin-left: 9%;
    
    /* border: 20px solid white; */
    

}

.rightmain{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding: 10% 0%;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 3%;
    margin-right: 15%;
}
.right{
    /* float: left;
    width: 47%; */
    max-width: 100%;
    margin-top: 100px;
    padding-right: 9%;
}

.left{
    /* float: left;
    
    width: 50%; */
    /* height: fit-content;
    margin-top: 200px;
    padding: 0px auto; */
    display: flex;
    max-height: 100%;
  justify-content: center;
  padding-left: 10%;
}
.logoimage{
    margin-top: 20px;
}

.content{
    font-size: 40px;
    /* margin-right: 300px; */
    color: #3E3E3E;
}
.form > p{
    margin-bottom: 23.5px;
    
}
#content2{
    
    font-size: 25px;
    color: #3E3E3E
}
#pd ,#uname{
    width: 65%;
    height: 49px;
    background: #FFFFFF ;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}  
.btns{
    display: flex;
    margin-top: 30px;
}
.content > b{
    color: #C8242F
}
.content2 {
    margin-top: 23px;
    color: #ADADAD;
}

.loginbtn > input{
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px ;
    border: none;
    opacity: 1;
    width: 138px;
    height: 45px;
    color: white;
}

.content2 > a{
    width: 88px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}
a{
    text-decoration: none ;
}
#forgotpd > a{
    color: #ADADAD;
}
#forgotpd{
    margin-left: 25%;
    margin-top: 20px;

}

/* css for dashboard */